/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
*.gem
*.rbc
.config
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
test/tmp
test/version_tmp
*.bundle
*.so
*.o
*.a
mkmf.log
